<div class="container">
  <h1 class="heading">Expired URL</h1>
<br/>
  <div class="text-ctr">
    <p>
      The short URL you're trying to access has expired or is invalid.
    </p>
    <p>
      Please contact the site administrator for assistance or try another URL.
    </p>
  </div>
<!-- can add button or redirection timeout -->
</div>